<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About This Site</title>

    <!-- change base(for dev only) -->
    <!-- <base href="/public/" /> -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    <div class="content">
      <h1>How I Made This Website</h1>

      <div class="box">
        <h3>Server</h3>
        <p>
          Built on NodeJs (with Express framework). <br />
          NodeJs is a javascript runtime, which allows to write server side code
          with javascript, and Express is a minimalistic javascript framework
          for Node. <br />
          Database used is MongoDB which is a NoSql database, and is integrated into express using mongoose package. <br>
          <a href="https://nodejs.org/en/" target="_blank">NodeJs</a>
          <a href="http://expressjs.com/" target="_blank">Express</a>
          <a href="https://www.mongodb.com/what-is-mongodb" target="_blank">MongoDB</a>
        </p>
      </div>

      <div class="box">
        <h3>Hosting</h3>
        <p>
          The site is hosted on Heroku, which is a cloud platform where apps can
          be launched very easily and also offers many addons for managing these
          apps <br />
          Also, the domain is registered on freenom.org <br />
          <a href="https://www.heroku.com/about" target="_blank">Heroku</a>
          <a href="https://www.freenom.com" target="_blank">Freenom</a>
        </p>
      </div>

      <div class="box">
        <h3>Frontend</h3>
        <p>
          Written with HTML,SCSS(a CSS preprocessor) and TypeScript <br />
          Animation on the front page uses Lottie, a json based animation
          format.<br />
          <a href="https://sass-lang.com/" target="_blank">SCSS</a>
          <a href="https://www.typescriptlang.org/" target="_blank"
            >TypeScript</a
          >
          <a href="https://lottiefiles.com/what-is-lottie" target="_blank"
            >Lottie</a
          >
        </p>
      </div>
      <div class="box">
        <h3>How everything connects</h3>
        <p>
          The devolopment is done on a local node server running on my PC, and the changes are pushed into github. The app hosted on Heroku looks for any changes in the github, and upon encountering any change, it does a new build sequence, which updates the app. <br>
          (Here, app = website)
        </p>
      </div>
    </div>

    <footer>
        <a href="/">Home</a>
        <a href="https://github.com/ruralad/CS368-website" target="_blank">Code</a>
    </footer>

  </body>
</html>
