<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abhinav's CS368 Website</title>
    <link
      rel="shortcut icon"
      href="assets/favicon-32x32.png"
      type="image/x-icon"
    />
    <meta />
    <!-- change base(for dev only) -->
    <!-- <base href="/public/" /> -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="css/home.css" />

    <!-- lottie-player -->
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
      async
    ></script>
  </head>
  <body onload="showBody()">
    <div class="item item5"></div>
    <div class="content">
    <div id="page-views"></div>
      
      <h3>Hi, I'm Abhinav</h3>
      <h1>Welcome to my CS368 Website</h1>
      <div class="buttons">
        <a href="/about"><button>Tech Stack</button></a>
        <a href="https://github.com/ruralad/CS368-website" target="_blank">
          <button>Code</button>
        </a>
      </div>
    </div>

    <lottie-player
      src="https://assets3.lottiefiles.com/packages/lf20_7smeegra.json"
      background="transparent"
      class="animation"
      speed="1"
      loop
      autoplay
    ></lottie-player>

    <!-- scripts -->
    <script src="js/home.js"></script>
  </body>
</html>
