body {
  margin: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
table {
  width: 80%;
  margin-top: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #53535388;
  text-align: left;
}
tr:nth-child(even) {
  background-color: rgb(192, 192, 192);
}
input,
button {
  height: 30px;
  margin-top: 10px;
}
span {
  display: none;
  position: relative;
  padding-left: 10px;
  color: red;
  animation: shake 0.1s 4 alternate-reverse;
}
@keyframes shake {
  0% {
    margin-left: 5px;
  }
  100% {
    margin-left: 0px;
  }
}
