$primary-color: grey;
$highlight-color: #0460da;
$heading-color: #1a1a1a;

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
  color: $primary-color;

  a {
    display: inline-block;
    text-decoration: none;
    color: $highlight-color;
    margin: 0.5em 0.5em 0.5em 0;
  }
  .content {
    position: relative;
    margin: 10em 0 0 0;
    width: 50vw;
    h1 {
      padding-bottom: 1em;
      color: $heading-color;
    }
    .box {
      position: relative;
      margin-bottom: 1.5em;
      &:last-child {
        margin: 0;
        &::after {
          display: none;
        }
      }
      h3 {
        margin-bottom: 0.5em;
      }
      &::after {
        display: block;
        content: "";
        height: 1px;
        width: 100%;
        background-color: #c0c0c0;
        margin-top: 1.5em;
      }
    }
  }
  footer {
    width: 100%;
    height: 5em;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(201, 201, 201);
    a {
      color: $heading-color;
    }
  }
}
@media (max-width: 600px) {
  body {
    .content {
      width: 80%;
      margin: 5em 0 0 0;
    }
  }
}
