$primary-color: #3154be;
$secondary-color: #222222;
$background-color: #fff;
$selective-color: #1eb38b;

@keyframes show-slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes transform_scale {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  text-align: left;

  background-color: $background-color;
  width: auto;
  height: 100vh;

  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: $primary-color;
  .item {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $primary-color;
    box-sizing: border-box;
  }
  .item5 {
    background-color: transparent;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      left: 0;
      top: 0;
      opacity: 0.6;
      background-color: $primary-color;
      animation: transform_scale 2s ease-in-out infinite;
    }
    &:after {
      animation-delay: -0.5s;
      opacity: 0.5;
    }
  }

  .content {
    display: none;
    height: 20%;
    animation: show-slowly 2s ease;

    #page-views {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      color: grey;
      font-size: 1rem;
    }
    h1 {
      font-weight: 300;
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $secondary-color;
      opacity: 0.7;
    }
    .buttons {
      position: relative;
      padding-top: 2em;
      button {
        margin-right: 1em;
        width: 8em;
        height: 3em;
        border: none;
        border-radius: 0.2em;
        background: $primary-color;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: $background-color;
        cursor: pointer;

        &:hover {
          background-color: $background-color;
          color: $primary-color;
          border: 2px solid $secondary-color;
        }
        transition: all 0.4s ease-in-out;
      }
    }
  }
  .animation {
    display: none;
    width: 35em;
    margin-top: -10%;
    animation: show-slowly 2s ease;
  }
}

@media (max-width: 600px) {
  body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;

    width: 100vw;
    height: 70vh;

    .content {
      width: 90vw;
      text-align: center;
      #page-views {
        font-size: 0.7rem;
      }
      h1 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.1.7rem;
      }
    }
    .animation {
      width: 20em;
      height: 20em;
    }
  }
}
