$primary-color: #3154be;
$secondary-color: #222222;
$background-color: #fff;
$selective-color: #1eb38b;

@keyframes show-slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  text-align: left;

  background-color: $background-color;
  width: auto;
  height: 100vh;
  animation: show-slowly 2s ease;

  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: $primary-color;
  .content {
    height: 20%;
    h1 {
      font-weight: 400;
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      color: $secondary-color;
      opacity: 0.7;
    }
    .buttons {
      position: relative;
      padding-top: 2em;
      button {
        margin-right: 1em;
        width: 8em;
        height: 3em;
        border: none;
        border-radius: 0.2em;
        background: $primary-color;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: $background-color;
        cursor: pointer;

        &:hover {
          background-color: $background-color;
          color: $primary-color;
          border: 2px solid $secondary-color;
        }
        transition: all 0.4s ease-in-out;
      }
    }
  }
  .animation {
    width: 35em;
    margin-top: -10%;
  }
}

@media (max-width: 600px) {
  body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;

    width: 100vw;
    height: 70vh;
    .content {
      text-align: center;
      h1 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.1.7rem;
      }
    }
    .animation {
      width: 20em;
      height: 20em;
    }
  }
}
